* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#aaaaaa,#ffffff);
}

.wrapper {
    position: relative;
    height: 100vh;
    top: 0;
}

.main-panel {
    width: 100%;
    min-height: 100vh;
    border-top: 2px solid #14b262;
    transition: .2s;
    float: right;
}

.sidebar {
    width: 230px;
    height: calc(100vh - 90px);
    position: fixed;
    background: linear-gradient(#14b262,#126126);
    border-radius: 5px;
    margin-top: 80px;
    margin-left: 20px;
    z-index: 1024;
}

.sidebar::after{
    content: '';
    position: absolute;
    top: -10px;
    border: 5px solid #14b262;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 40px;
    transform: translate(-50%);
}

nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px 0px 20px;
}

.navbar-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.navbar-bar i, .navbar-options i {
    color: #ffffff;
    font-size: 20px;
    margin-left: 30px;
}

.navbar-bar button {
    background: transparent;
    border: none;
    outline: none;
}

button#boton-sidebar_left, button#boton-sidebar_fixed {
    display: none;
}

.navbar-bar p {
    font-family: 'Poppins';
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 20px;
    opacity: 1;
    transition: .6s;
}

.navbar-options {
    display: flex;
    align-items: center;
}

.navbar-options .photo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 30px;
}

.photo img{
    width: 100%;
}

.content {
    padding: 80px 30px 30px 280px;
}

.logo-rc{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.logo-rc::after {
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    height: 1px;
    width: 90%;
    background: #ffffff;
    left: 12px;
    bottom: 0;
}

.logo-rc img{
    width: 100px;
    margin-left: 22px;
}

.logo-rc span {
    color: #ffffff;
    display: block;
    white-space: nowrap;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Poppins';
    overflow: hidden;
    margin-left: 10px;
    font-weight: 300;
    transition: .5s
}

.nav ul {
    list-style: none;
    margin-top: 20px;
}

.nav ul li {
    padding: 30px;
}

.nav ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav ul li a i{
    color: #ffffff;
    font-size: 20px;
    width: 37px;
}

.nav ul li a span{
    color: #ffffff;
    display: block;
    transition: .5s;
    font-family: 'Poppins';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
}

.grid-row {
    width: 100%;
    margin-bottom: 20px;
}

.card {
    background: #d7d7df;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
}

.card-chart {
    overflow: hidden;
    height: auto;
}